
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Home</h2>
<div class="row">
    <div class="col-md-2">
        @Html.ActionLink("Simple Pivot", "SimplePivot", "Home", null,new { @class = "btn btn-primary" })
    </div>
    <div class="col-md-2">
        @Html.ActionLink("Pivot with Json", "PivotWithJson", "Home", null, new { @class = "btn btn-primary" })
    </div>
    <div class="col-md-2">
        @Html.ActionLink("PivotUI with Json", "PivotUIWithJson", "Home", null, new { @class = "btn btn-primary" })
    </div>
    <div class="col-md-8"></div>
</div>


