
@{
    ViewBag.Title = "PivotUIWithJson";
}
@Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn" })

<h2>PivotUIWithJson</h2>
<div id="output">
</div>
@section script{

    <script type="text/javascript">
        var data = [
            { color: "blue", shape: "circle" },
            { color: "red", shape: "triangle" },
            { color: "green", shape: "square" }
        ];

        var rowsArray = new Array();
        rowsArray.push('color');
        var colsArray = new Array();
        colsArray.push('shape');
        pivot.pivotUIJson(data, '#output', rowsArray, colsArray);
    </script>
    }

